version: '3.6'
services: 
#    address-db:
#        image: postgres:11
#        environment: 
#            POSTGRES_USER: clo
#            POSTGRES_PASSWORD: clo
#            POSTGRES_DB: clo
#       restart: always
#       networks:
#            - address
#        container_name: address-db
#    address-manager:
#       image: address-manager
#       ports: 
#            - "81:80"
#        environment: 
#            NODE_ENV: development
#        restart: always
#        networks:
#            - address
#            - clo
#        container_name: address-manager
#    establishment-db:
#        image: postgres:11
#       environment: 
#            POSTGRES_USER: clo
#            POSTGRES_PASSWORD: clo
#            POSTGRES_DB: clo
#        restart: always
#        networks:
#            - establishment
#        container_name: establishment-db
#    establishment-manager:
#        image: establishment-manager
#        ports: 
#            - "80:80"
#        environment: 
#            NODE_ENV: development
#        restart: always
#        networks:
#            - clo
#            - establishment
#        container_name: establishment-manager
#    policy-price-db:
#        image: postgres:11
#        environment: 
#            POSTGRES_USER: clo
#            POSTGRES_PASSWORD: clo
#            POSTGRES_DB: clo
#        restart: always
#        networks:
#            - policy-price
#        container_name: policy-price-db
#    policy-price-manager:
#        image: policy-price-manager
#        ports: 
#            - "82:80"
#        environment: 
#            NODE_ENV: development
#        restart: always
#        networks:
#            - clo
#            - policy-price
#        container_name: policy-price-manager
    room-db:
        image: postgres:11
        environment: 
            POSTGRES_USER: clo
            POSTGRES_PASSWORD: clo
            POSTGRES_DB: clo
        restart: always
        networks:
            - address
        container_name: address-db
    establishment-db:
        image: postgres:11
        ports: 
            - "5432:5432"
        environment: 
            POSTGRES_USER: clo
            POSTGRES_PASSWORD: clo
            POSTGRES_DB: clo
        restart: always
        networks:
            - establishment
        container_name: establishment-db
    policy-price-db:
        image: postgres:11
        environment: 
            POSTGRES_USER: clo
            POSTGRES_PASSWORD: clo
            POSTGRES_DB: clo
        restart: always
        networks:
            - policy-price
        container_name: policy-price-db
    address-test-db:
        image: postgres:11
        environment: 
            POSTGRES_USER: clo
            POSTGRES_PASSWORD: clo
            POSTGRES_DB: clo
        restart: always
        ports: 
            - "5432:5432"
        networks:
            - policy-price
        container_name: address-test-db
networks: 
    clo:
        external: true
    address:
        external: true
    establishment:
        external: true
    policy-price:
        external: true
    room:
        external: true
