version: '3.6'
services: 
    address-db:
        image: postgres:11
        environment: 
            POSTGRES_USER: clo
            POSTGRES_PASSWORD: clo
            POSTGRES_DB: clo
        restart: always
        networks:
            - address
        container_name: address-db
    establishment-db:
        image: postgres:11
        environment: 
            POSTGRES_USER: clo
            POSTGRES_PASSWORD: clo
            POSTGRES_DB: clo
        restart: always
        networks:
            - establishment
        container_name: establishment-db
    policy-price-db:
        image: postgres:11
        environment: 
            POSTGRES_USER: clo
            POSTGRES_PASSWORD: clo
            POSTGRES_DB: clo
        restart: always
        networks:
            - policy-price
        container_name: policy-price-db
    option-db:
        image: postgres:11.2-alpine
        environment:
          POSTGRES_USER: unicorn_user
          POSTGRES_PASSWORD: magical_password
          POSTGRES_DB: rainbow_database
        ports:
          - "5432:5432"
        restart: always
    option-test-db:
        image: postgres:11.2-alpine
        environment:
          POSTGRES_USER: unicorn_user
          POSTGRES_PASSWORD: magical_password
          POSTGRES_DB: rainbow_database
        ports:
         - "5433:5432"
        restart: always

networks: 
    clo:
        external: true
    address:
        external: true
    establishment:
        external: true
    policy-price:
        external: true
    services:
        external: true

