version: '3.6'
services: 
    address-db:
        image: postgres:11
        environment: 
            POSTGRES_USER: clo
            POSTGRES_PASSWORD: clo
            POSTGRES_DB: clo
        restart: always
        networks:
            - address
        container_name: address-db
        ports: 
            - "5432:5432"
    address-manager:
        image: address-manager
        ports: 
            - "81:80"
        environment: 
            NODE_ENV: development
        restart: always
        networks:
            - address
            - clo
        container_name: address-manager
    establishment-db:
        image: postgres:11
        environment: 
            POSTGRES_USER: clo
            POSTGRES_PASSWORD: clo
            POSTGRES_DB: clo
        restart: always
        networks:
            - establishment
        container_name: establishment-db
    establishment-manager:
        image: establishment-manager
        ports: 
            - "80:80"
        environment: 
            NODE_ENV: development
        restart: always
        networks:
            - clo
            - establishment
        container_name: establishment-manager

networks: 
    clo:
        external: true
    address:
        external: true
    establishment:
        external: true
