version: '3.6'
services: 
#    address-manager:
#       image: address-manager
#       ports: 
#            - "81:80"
#        environment: 
#            NODE_ENV: development
#        restart: always
#        networks:
#            - address
#            - clo
#        container_name: address-manager
#    establishment-db:
#        image: postgres:11
#       environment: 
#            POSTGRES_USER: clo
#            POSTGRES_PASSWORD: clo
#            POSTGRES_DB: clo
#        restart: always
#        networks:
#            - establishment
#        container_name: establishment-db
#    establishment-manager:
#        image: establishment-manager
#        ports: 
#            - "80:80"
#        environment: 
#            NODE_ENV: development
#        restart: always
#        networks:
#            - clo
#            - establishment
#        container_name: establishment-manager
#    policy-price-db:
#        image: postgres:11
#        environment: 
#            POSTGRES_USER: clo
#            POSTGRES_PASSWORD: clo
#            POSTGRES_DB: clo
#        restart: always
#        networks:
#            - policy-price
#        container_name: policy-price-db
#    policy-price-manager:
#        image: policy-price-manager
#        ports: 
#            - "82:80"
#        environment: 
#            NODE_ENV: development
#        restart: always
#        networks:
#            - clo
#            - policy-price
#        container_name: policy-price-manager
    address-db:
        image: postgres:11
        environment: 
            POSTGRES_USER: clo
            POSTGRES_PASSWORD: clo
            POSTGRES_DB: clo
        restart: always
        container_name: address-db
    room-db:
        image: postgres:11
        environment: 
            POSTGRES_USER: clo
            POSTGRES_PASSWORD: clo
            POSTGRES_DB: clo
        restart: always
        container_name: room-db
    establishment-db:
        image: postgres:11
        environment: 
            POSTGRES_USER: clo
            POSTGRES_PASSWORD: clo
            POSTGRES_DB: clo
        restart: always
        container_name: establishment-db
    policy-price-db:
        image: postgres:11
        environment: 
            POSTGRES_USER: clo
            POSTGRES_PASSWORD: clo
            POSTGRES_DB: clo
        restart: always
        container_name: policy-price-db
    option-db:
        image: postgres:11.2-alpine
        environment:
          POSTGRES_USER: unicorn_user
          POSTGRES_PASSWORD: magical_password
          POSTGRES_DB: rainbow_database
        restart: always
    booking-db:
        image: postgres:11
        environment:
          POSTGRES_USER: clo
          POSTGRES_PASSWORD: clo
          POSTGRES_DB: clo
        ports:
         - "5432:5432"
        restart: always
    address-test-db:
        image: postgres:11
        environment: 
            POSTGRES_USER: clo
            POSTGRES_PASSWORD: clo
            POSTGRES_DB: clo
        restart: always
        container_name: address-test-db
networks: 
    clo:
        external: true