---
# Install Docker
- name: "Install docker"
  include_tasks: "docker.yml"

# Install swarm
- name: "Configure swarm"
  include_tasks: "swarm.yml"

# Add labels
- name: "Configure node labels"
  include_tasks: "labels.yml"
  when: "'docker_swarm_manager' in group_names"
