---
- name: "monitoring: Build the monitoring stack"
  include_tasks: "build.yml"
  when: "inventory_hostname == registry_host"
  loop:
    # - name: prometheus
    - name: grafana
    # - name: node_exporter
    # - name: cadvisor
    - name: traefik

- name: "monitoring: Deploy the services"
  # TODO: Deploy global cadvisor + node_exporter
  # TODO: Publish on cadvisor + prom + node_exporter + grafana
  # TODO: Rename deploy -> service
  # TODO: Load deploy with name, type attributes
  include_tasks: "deploy.yml"
  when: false # "inventory_hostname == registry_host"
  loop:
    - name: prometheus
    - name: grafana
    - name: node_exporter
    - name: cadvisor
    - name: traefik

- name: "monitoring: Deploy the stack"
  include_tasks: "stack.yml"
  when: "inventory_hostname == registry_host"
