---
- name: "monitoring: Copy the templates docker stack"
  template:
    src: 'stack.yml.j2'
    dest: '/tmp/stack.yml'

- name: "monitoring: Copy the extra configuration files"
  template:
    src: "{{ item.name }}"
    dest: "{{ item.dest }}"
  loop:
    - name: 'prometheus.yml.j2'
      dest: '/tmp/prometheus.yml'
    - name: 'grafana.ini.j2'
      dest: '/tmp/grafana.ini'
    - name: 'grafana.datasource.yml.j2'
      dest: '/tmp/grafana.datasource.yml'

- name: "monitoring: Create the public traefik network"
  docker_network:
    name: traefik-public
    driver: overlay

- name: "monitoring: Deploy the monitoring stack in Docker Swarm"
  docker_stack:
    state: present
    name: monitoring
    resolve_image: always
    compose:
      - /tmp/stack.yml
