FROM alpine:3.12

LABEL maintainer="massar_t@etna-alternance.net"

ENV GRAFANA_VERSION={{ grafana_version | default(7.0.5) }}
ENV GRAFANA_URL={{ grafana_url | default("https://dl.grafana.com/oss/release/grafana-7.0.5.linux-amd64.tar.gz")}}

# Update the package manager and scaffold the alpine system
RUN apk update && apk add wget && mkdir -p \
    /opt/grafana/ /lib64 && \
    ln -s /lib/libc.musl-x86_64.so.1 /lib64/ld-linux-x86-64.so.2
# Install grafana and move its components to their respective loactions
RUN wget -q -O - $GRAFANA_URL | \
    tar x -zC/opt/grafana/ -f - --strip-components=1

# Expose default grafana port
EXPOSE 3000

ENV PATH="/opt/grafana/bin:${PATH}"
WORKDIR /opt/grafana
VOLUME /opt/grafana/data

ENTRYPOINT ["/opt/grafana/bin/grafana-server"]

CMD ["web"]
